<html>
<head>
    <style></style>
    <link rel="stylesheet" href="/static/css/editor.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/js/editor.js"></script>
<style>
</style>
</head>
<body>
{{ document }}
<table>
{% for paragraph in document.paragraphs %}
    <tr>
        {% for text in paragraph.texts %}
        <td>
            <div class="paragraph">
            <pre>{{ text }}</pre>
            <textarea wrap="off">{{ text }}</textarea>
            </div>
            {% if text.is_ok %}
            <div class="status-valid">
            {% else %}
            <div class="status-invalid" data-onclick="toggle_valid">
            {% endif %}
                <i class="fa fa-check status valid"></i>
                <i class="fa fa-close status invalid"></i>
            </div>
        </td>
        {% endfor %}
    </tr>
{% endfor %}
</table>
</body>
</html>
