<html>
<head>
    <style></style>
    <link rel="stylesheet" href="/static/css/editor.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        DOCUMENT_NAME = "{{ document.name }}";
    </script>
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="/static/js/editor.js"></script>
<style>
</style>
</head>
<body>
<table>
{% for paragraph in document.paragraphs %}
    <tr>
        {% for language, text in paragraph.texts %}
        <td
            data-lang="{{ text.lang }}"
            data-hash="{{ text.hash }}"
            data-is-source="{{ text.is_source }}">
            <div class="paragraph">
                <pre contenteditable="plaintext-only">
{{ text }}</pre>
            </div>
            {% if text.is_ok %}
            <div class="status-valid">
            {% else %}
            <div class="status-invalid">
            {% endif %}
                <i data-onclick="set_valid" class="fa fa-check status valid"></i>
                <i class="fa fa-close status invalid"></i>
            </div>
        </td>
        {% endfor %}
    </tr>
{% endfor %}
</table>
</body>
</html>
