
/*pre {
    border: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 32px;
}*/

pre {
    word-break: normal;
    border-top: 1px solid #ddd;
    background-color: #eee;
}

pre:focus{
    outline: none;
}

.ace_scrollbar {
    display: none !important;
}

textarea:focus {
    overflow: auto;
}

.ace_hidden-cursors .ace_cursor {
    opacity: 0 ! important;
}
/* textarea { */
.ace_editor {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: none;
    resize: none;
    outline: none;
}

td {
    padding: 0;
    max-width: 50%;
    width: 50%;
    overflow: hidden;
    position: relative;
    border: none;
    vertical-align: top;
    /*padding-bottom: 15px;*/
    padding-right: 10px;
}


.paragraph {
    padding: 0;
    margin: 0;
    position: relative;
    margin-right: 20px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.status {
    cursor: pointer;
}

.status-valid, .status-invalid {
    position: absolute;
    top: 0px;
    right: 10px;
}

.status-valid .invalid {
    display: none;
}

.status-invalid .valid {
    display: none;
}

.status-valid:hover .invalid {
    display: inline-block;
}

.status-valid:hover .valid {
    display: none;
}

.status-invalid:hover .invalid {
    display: none;
}

.status-invalid:hover .valid {
    display: inline-block;
}

.valid {
    color: #1d9d74;
}

.invalid {
    color: #a94442;
}

.text-success {
  color: #1d9d74;
}

.text-info {
  color: #007dbc;
}

.text-warning {
  color: #8a6d3b;
}

.text-danger {
  color: #a94442;
}
